.comment_container {
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 80px;

	.comment_block {
		padding: 0px;
		margin: 0px;
		li {
			list-style-type: none;
			&:first-child{
				padding-top: 25px;	
			}
		}
		li.comment_block_into{
			text-align: center;
			color: $color-darker-gray-100;
			padding-top: 0px;
		}

		.comment_block_wrapper {
			justify-content: center;
			color: $color-darker-gray-100;

			.comment_block_user_image_wrapper {
				display: block;
				float:left;
				width: 10%;
				text-align: center;
				padding:1em 0;

				.comment_block_user_image {
					background-image: url("/images/placeholders/user-default.png");
					background-size: cover;
					background-position: center center !important;
					width: 50px;
					height: 50px;
					border-radius: 50%;
					border: 3px solid $color-gray-100;
					display: inline-block;
				}
			}

			.comment_block_content_wrapper {
				padding: 1em 2.5%;
				display: block;
				width: 80%;
				float:left;

				.comment_block_user_details {
					display: inline-block;
					
					.comment_block_user_name {
						text-transform: uppercase;
						font-weight: bold;
						
						a:link,
						a:visited,
						a:hover,
						a:active{
							color: $color-darker-gray-100;
						}
						a:hover {
							color: $color-orange-100;
						}
					}

					.comment_block_user_comment_details {
						font-size: 0.8em;
						margin-left: 10px;
					}
				}
				.comment_block_content {
					padding: 10px 0px;	
					border-bottom: 3px solid $color-gray-100;
				}
			}
			.comment_block_user_comment_actions {
				width: 10%;
				display: block;
				text-align: center;
				float:left;
				padding:1em 0;
			}
			.comment_block_user_comment_actions .btn{
				color: $color-gray-100;
				transition: all .2s ease-in-out;

				&:hover {
					color: $color-darker-gray-100;;
					transform: scale(1.4);
				}
			}
		}
		.comment_loading {
			color: $color-orange-100;
			text-align:center; 
			padding: 5px; 
			display:none;
			i {
				margin-top: 5px;	
			}
		}
	}
	.comment_block_form_wrapper {
			background-color: $color-gray-25;
			text-align: center;
			padding:20px;
			margin-bottom: 15px;
			clear:both;
			label {
				display: block;
				margin:20px;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				color:$color-darker-gray-100;
			}
			textarea {
				display: block;
				width: 70%;
				margin: auto;
				margin-bottom: 10px;
			}
			.comment-loginmessage {
				color: $color-darker-gray-100;
				padding: 10px;
				a:link,	
				a:visited,	
				a:hover,	
				a:active {
					color: $color-orange-100;
				}
			}
		}
}
@include breakpoint(mobileonly) {
	.comment_container {
		.comment_block {
			.comment_block_wrapper {
				.comment_block_user_image_wrapper {
					display: block;
					width: 100%;
				}
				.comment_block_content_wrapper {
					width: 83%;
					.comment_block_user_details {
						
						display: block;
						.comment_block_user_name,
						comment_block_user_comment_details {
							display: block;
						}
						.comment_block_user_comment_details {
							margin-left: 0px;
						}
					}
				}
			}
		}
	}
}