.bikeschedule {
	width: 100%;
	display: block;
	border: 1px solid $color-gray-100;

	.bikeschedule_title {
		display: block;
		text-align: left;
		font-size: 16px;
		background-color: $color-darker-gray-75;
		color: $color-white-100;
		padding: 10px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-weight: bold;
	}
	.bikeschedule_day {
		display: flex;
		padding: 10px;
		p{
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1.5px;
			font-size:14px;
			margin-left:10px;
			color: $color-darker-gray-100;	
		}
		i.fa-check-circle {
			color: $color-green-100;	
		}
		i.fa-times-circle {
			color: $color-darker-gray-100;	
		}
	}
}