.bikepreview{
	padding-bottom:50px;
}

.bikepreview_wrapper {
	display: inline-block;
	width: 33.33%;
 	width: calc(90% / 4);
	margin: 1.66%;
	margin: calc(10% / 8);
	background:#fff;
	border:1px solid $color-light-gray-100;
	position:relative;
	
	.photo-available{
		display:block;
		position:absolute;
		z-index:2;
		left:10px;
		top:10px;
		color:#fff;
		font-weight: bold;

		i{
			color:#fff;
		}
	}

	.bikepreview_image {
		background-image: url('/images/placeholders/brand.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100%;
		height: 200px;
		display: block;

		.fa-bicycle{
			color:$main-gray-dark;
		}

		.bikepreview_hover {
			width: 100%;
			height: 100%;
			padding:25px 20px;
			display: none;
			text-align: center;
			transition: .3s ease-in-out;
			
			.bike-type {
				color: #fff;
				margin: 10px 0px;
				font-size: 14px;
				text-transform: uppercase;
				font-weight:700;
				letter-spacing: 2px;
			}

			.bike-location{
				color:$main-gray-dark;
				font-weight:300;
				font-size:19px;
				margin:20px 0;
			}

			.bike-accessories{
				color:#fff;
				font-size:19px;

				i{
					padding:3px;
				}

			}
		}
		&:hover .bikepreview_hover {
			display: inline-block;
			background-color: $color-orange-90;
		}
	}
	.bikepreview_content {
		.bikepreview_content_user {
			display: block;
			position: relative;
			margin-top: -50px;
			float:right;

			.bikepreview_content_user_picture {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				border: 3px solid $color-gray-100;
			}
		}
		.bikepreview_content_item {
			.bikepreview_content_title,
			.bikepreview_content_description {
				color: $main-gray-dark;
			}
			.bikepreview_content_title {
				display: block;
				font-weight: bold;
				font-size: 19px;
				margin-bottom: 5px;
				text-decoration: none;
				transition:.3s ease-in-out;
				text-transform: capitalize;

				&:hover {
					color: $color-orange-100;
				}
			}
			.bikepreview_content_description {
				color:$text;
				font-size:16px;
				line-height: 22px;
			}
		}
	}
	.bikepreview_footer {
		display: flex;
		.bikepreview_footer_button {
			display: inline-block;
			flex: 1;
		}
		.bikepreview_footer_actions {
			display: inline-block;
			flex: 1;
			text-align: right;
		}
	}
	
	.bikepreview_content,
	.bikepreview_footer {
		padding: 15px;
	}
}

@media screen and (max-width:1280px){
	.bikepreview_wrapper {
	 	width: calc(90% / 3);
		margin: calc(10% / 6);
	}
}

@media screen and (max-width:1024px){
	.bikepreview_wrapper {
	 	width: calc(90% / 2);
		margin: calc(10% / 4);
	}
}

@media screen and (max-width:596px){
	.bikepreview_wrapper {
	 	width: calc(90% / 1);
		margin: calc(10% / 2);
	}
}

