.scheduleform-day {
	width: 100%;
	max-width: 600px;
	margin: auto;
	display: block;
	border: 1px solid $color-gray-100;
	padding: 10px;
	margin-bottom: 5px;
	.scheduleform-day-checkbox {
		text-align: center;
		display: flex;
		justify-content: center;
		color: $color-darker-gray-100;
		input {
			order: -1;
			margin: 0px;
			margin-right: 5px;
		}
	}
	.time-selects {
		.form-labeled-select-half {
			label {
				display: block;
				text-align:center;
				padding-right:0px;
				margin-bottom: 5px;
				color: $color-darker-gray-100;
			}
			select {
				display: block;
				margin: auto;
			}
		}
	}
}