
#order-step-1,
#order-step-2{
	display:table;
	table-layout:fixed;
	width:100%;

	.split{
		display:table-cell;
		padding:40px;
		vertical-align: middle;
	}

	.branding{
		background:url('../images/brand.jpg') no-repeat;
		background-size:cover;

		h2{
			font-size:28px;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			color:#fff;
			margin-bottom:10px;
		}

		p{
			font-weight: bold;

			span{
				font-size:22px;
			}
		}
	}

	.order-wrapper{

		h1{
			text-align:left;
			color:$main-gray-dark;
		}

		.order-form{
			margin: auto;
			padding: 25px;
			background-color: $color-light-gray-50;
			border-bottom: 3px solid $color-light-gray-100;

			.btn-default{
				margin:15px;
			}

			.order-date-box{
				float:left;
				display:block;
				width:46%;
				margin:0 2%;
				padding:20px 30px;
				background:#fff;
				border:1px solid $color-gray-100;

				.input_bottom_border{
					float:none;
				}

				.form-labeled-field-full{
					padding:15px 0;

					label{
						text-align:left;
					}
				}

				h3{
					display:block;
					width:100%;
					margin:0;
					padding:10px;
					text-transform: uppercase;
					letter-spacing: 1.5px;
					border-bottom:1px solid $color-gray-100;
				}
			}
		}
	}
}

