#order-step-2{
	
	.order-wrapper{
		.order-overview{
			margin: auto;
			padding: 25px;
			background-color: $color-light-gray-50;
			border-bottom: 3px solid $color-light-gray-100;
			text-align: center;

			.order-date-box{
				float:left;
				display:block;
				width:46%;
				margin:0 2%;
				padding:20px 30px;
				background:#fff;
				border:1px solid $color-gray-100;

				h3{
					display:block;
					width:100%;
					margin:0;
					padding:10px;
					text-transform: uppercase;
					letter-spacing: 1.5px;
					border-bottom:1px solid $color-gray-100;
				}
			}
			
			#order-pending{

			}

			.sum-up-price{
				margin:20px auto;
				padding:10px;
				background:$primary;
				clear:both;
				width:100px;

				p{
					color:#fff;
					font-weight: bold;
					font-size:18px;
					line-height:1.3;
				}
			}
			
			p{
				padding: 5px;
				color: $color-darker-gray-100;
			}
			
			.btn{
				margin-top: 15px;
			}
			
			.order_status {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 0.8em;
				margin-top: 15px;
				color: $color-orange-100;
			}
		}
	}
}

@media screen and (max-width:960px){
	#order-step-1,
	#order-step-2{
		display:block;
		table-layout: auto;

		.split{
			display:block;
			width:100%;
		}
	}
}

@media screen and (max-width:560px){
	#order-step-1{
		.order-wrapper{
			.order-form{
				.order-date-box{
					float:none;
					width:96%;
				}
			}
		}
	}
	#order-step-2{
		.order-wrapper{
			.order-overview{
				.order-date-box{
					float:none;
					width:96%;
				}
			}
		}
	}
}

