.front-header{
	position:relative;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	z-index:0;
	padding:35px 0 30px 0;
	height:auto;

	.call-to-shift{
		font-size:95px;
		width:auto;
		-webkit-font-smoothing: antialiased;
		line-height: 85px;
		color:#fff;
		padding:138px 120px 60px 120px;
		text-align:center;

		.sparkle{
			font-weight: 300;
			font-size:54px;
		}

		span{
			display:block;
		}
	}

	.action-bar{
		clear:both;
		width:auto;
		margin-bottom:50px;

		ul{
			list-style-type: none;
			padding:0 35px;
			text-align: center;
		}

		li{
			display: inline-block;
			padding:0 5px;
			padding-bottom:20px;
		}

		li:last-child{
			a{
				background:#fff;
				color:$main-gray-dark;

				&:hover{
					color:$primary;
				}
			}
		}

		a{
			display:block;
			padding:15px 40px;
			background:$primary;
			color:#fff;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 2px;
			transition: .2s ease-in-out;

			&:hover{
				text-decoration: none;
				color:$main-gray-dark;
			}
		}
	}
}

.content{

}

#intro{
	display:table;
	table-layout:fixed;
	width:100%;

	.split{
		display:table-cell;
		vertical-align: middle;
		width:50%;
		padding:40px;
	}

	.shift-brand{
		text-align:center;
		background:$primary url('../images/brand.jpg') no-repeat;
		background-size:cover;


		img{
			width:125px;
		}
	}

	.storytext{
		-webkit-font-smoothing: antialiased;

		h2{
			font-size:54px;
		}
		p{
			font-size:19px;
			line-height: 26px;
			margin:20px 0;
			color:$text;
			font-weight: 300;
		}
	}
}

#howto{

	h2{
		text-align:center;
		padding:75px;
		font-size:46px;
		background:$main-gray-dark;
		color:$color-light-gray-100;
		font-weight:300;
		margin-top:-1px;
		
		.icon{
			color:$primary;
		}
	}
	
	.howto{
		display:table;
		table-layout:fixed;
		width:100%;
		border-bottom:1px solid $color-light-gray-100;

		h3{
			text-align:center;
			color:$primary;
			font-size:46px;
			font-weight: 400;

			i{
				margin:0 20px;
				font-size:36px;
			}
		}

		ul{
			margin:0;
			padding:0;
			text-align: center;
			font-weight: 300;

			i{
				font-size:26px;
				margin-right:10px;
			}
		}

		li{
			list-style-type: none;
			font-size:19px;
			color:$text;
			line-height: 26px;
			margin:20px 0;
		}
	}

	.split{
		display:table-cell;
		padding:40px;
		vertical-align: middle;
	}
}

#community{
	background:url('../images/brand.jpg')no-repeat;
	background-size:cover;
	padding:35px 40px;

	img{
		display:block;
		margin:0 auto;
		padding:35px 0;
		width:50px;
	}

	h2{
		color:#fff;
		text-align: center;
		font-weight: 300;
		font-size:36px;
		padding-bottom:35px;
	}

	#btnJoin{
		display:block;
		margin:0 auto;
		width:200px;
		padding:15px 20px;
		background:#fff;
		text-align: center;
		color:$primary;
		margin-bottom:35px;
		transition: .3s ease-in-out;
		font-weight:bold;
		border:2px solid transparent;

		&:hover{
			color:#fff;
			background-color:transparent;
			text-decoration: none;
			border:2px solid #fff;
		}
	}
}

#secure{
	color:$text;
	display:table;
	table-layout:fixed;
	width:100%;

	.split{
			padding:75px 40px;
		display:table-cell;
		vertical-align: middle;
	}

	.left{
		background:$color-light-gray-100;

		p{
			margin:20px 0;
			font-size:19px;
		}

		i{
			margin-left:15px;
		}		
	}

	.right{
		p{
			font-size:19px;
			line-height: 26px;
			font-weight:300;
		}
	}

	h2{
		text-align:center;
		font-size:36px;
		font-weight:300;
	}

	.safety-measures{
		.circle{
			display:inline-block;
			padding:15px;
			background:$primary;
			text-align:center;
			color:#fff;
			font-size:20px;
			line-height: 1;
		    width: 50px;
		    height: 50px;
		    border-radius: 50%;
		    float:left;
		    margin-right:20px;
		    margin-bottom:20px;
		}

		li{
			list-style-type: none;
			margin:25px 0;
			padding:25px;
			border-bottom:1px solid $color-light-gray-100;
		}
	}
}

#shiftwithus{
	padding:75px 40px;

	.mc_embed_signup{
		max-width:520px;
		margin:0 auto;
	}

	h2{
		font-size:36px;
		text-align: center;
		margin-bottom:20px;
	}
	#newsletter{
		text-align:center;
		
		p{
			margin:20px 0;
			font-size:19px;
			line-height: 26px;
			color:$text;
		}
		
		form{
			input[type="email"]{
				height:45px;
				line-height: 45px;
				padding:10px;
				width:50%;
				transition: .3s ease-in-out;
				border:2px solid $color-light-gray-100;
				margin-bottom:10px;
				float:left;

				&:focus{
					outline:0;
					border:1px solid $primary;
				}
			}
		}

		#btnMcSubmit{
			display: inline-block;
			background:$primary;
			padding:12px 35px;
			width:49%;
			margin-left:1%;
			border:2px solid transparent;
			color:#fff;
			font-weight:700;
			transition: .3s ease-in-out;
			float:left;

			&:hover{
				border:2px solid $primary;
				background:#fff;
				color:$primary;
			}

			&:focus{
				outline:0;
			}
		}
	}
}

#social{
	text-align:center;
	padding:75px 40px;

	p{
		font-size:16px;
		line-heigh:26px;
		color:$primary;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		margin-bottom:20px;
	}

	iframe{
		height:165px;
	}
}

@media screen and(max-width:678px){
	#intro{
		display:block;
		table-layout:none;
		width:100%;

		.split{
			display:block;
			vertical-align:none;
			width:100%;
			padding:40px;
		}

		.storytext{
			text-align: left;
		}
	}

	#howto{
		h2{
			padding:75px 40px;
			font-size:42px;
		}
		
		.howto{
			display:block;
			table-layout:none;

			h3{
				font-size:42px;
			}
		}

		.split{
			display:block;
			vertical-align: none;
		}

	}

	#shiftwithus{
		padding:75px 20px;
	}

	#secure{
		display:block;
		table-layout:none;

		.split{
			padding:75px 40px;
			display:block;
			vertical-align: none;
		}

		.safety-measures{
			li{
				padding:25px 0;
			}
		}
	}

	#social{
		padding:75px 20px;

		p{
			font-size:16px;
			line-heigh:26px;
			color:$primary;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 2px;
			margin-bottom:20px;
		}

		iframe{
			height:165px;
			width:100%;
		}
	}
}

@media screen and (max-width:540px){
	.front-header{
		.call-to-shift{
			font-size:54px;
			line-height: 54px;
			padding:100px 40px 60px 40px;

			.sparkle{
				font-size:36px;
			}
		}
	}

}







