.notvisible
{
	visibility: hidden;
}
.bike-section{
	padding-top:0;
	background:#FBFBFB;

	.action-links{
		padding:35px;
	}

	.align-content-center{
		text-align: center;
	}

	.emptystate{
		max-width:500px;
		width:100%;
		padding:0 40px 40px 20px;
		margin:0 auto;
		text-align:center;
		color:$text;

		img{
			width:100%;
		}

		h2{
			font-size:32px;
			margin:20px 0;
			font-weight: 300;
		}
		p{
			font-size:16px;
			font-weight: bold;
		}
	}
}

#bike-filter{
	padding:20px 0;

	.bike-filter{
		float:left;
		width:30%;
		margin:0 1.5%;
		text-align:center;

		label{
			display:block;
			color:#fff;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			padding:10px 10px 10px;
			font-size: 12px;
		}

		select{
			border:0;
			max-width:300px;
			width:100%;
			height:45px;
			line-height: 45px;
			font-size:14px;
			font-weight:bold;
		}

		input{
			max-width:300px;
			width:100%;
			height:45px;
			line-height:45px;
			font-size:14px;
			font-weight:bold;
			padding:0 20px;
		}
	}
}

.bike-show-header {
	border-bottom: 2px solid $color-gray-100;
	padding: 5px 20px;
	margin-bottom: 15px;
	background:#f2f2f2;

	.bike-show-header-content {
		display: flex;
		justify-content: space-between;
		margin: auto;

		.bike-show-header-owner-wrapper {
			height:70px;

			.bike-owner-picture {
				width: 70px;
				height: 70px;
				display: inline-block;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				border: 3px solid #dedede;
				display:block;
				float:left;
			}
			.user-name-profile{
				display:block;
				float:left;
				color:#fff;
				margin:17px 10px;
			}
			.bike-owner-name {
				margin-left: 10px;
			}
		}
		.bike-show-header-actions {
			padding:17px 0;

			a:link,
			a:visited,
			a:hover,
			a:active,
			form {
				display: inline-block;
			}
		}
	}
}

.bike-show-content-wrapper {
	display: flex;
	border-bottom:1px solid lightgray;

	.bike-show-content-column {
		flex: 1;
		padding:20px;

		.bike-show-content-bike-details {
			padding: 10px;
			margin-bottom: 25px;
			border:1px solid lightgray;

			p {
				margin-bottom: 10px;
				color: $color-darker-gray-100;
				&.title {
					font-size: 1.5em;
					font-weight: bold;
					margin-bottom: 25px;
					color: $main-gray-dark;
				}
				&.tussentitle {
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
					color:$color-darker-gray-50;
					letter-spacing: 1.5px;
					margin-bottom: 10px;
					margin-top: 15px;
				}
			}
		}

		.bike-show-image-gallery {
			.bike-show-gallery-shown-image {
				width: 100%;
			}
			
			p{
				text-align:center;
				margin:20px;
				color:$text;
				line-height:22px;

				a{
					font-weight:700;
					transition:.3s ease-in-out;
					&:hover{
						text-decoration: none;
						color:$main-gray-dark;
					}
				}
			}

			.bike-show-image-gallery-links {

				.bike-show-image-gallery-link-wrapper {
					width: 25%;
					display: block;
					float:left;
					padding:0.5%;

					&:nth-child(4n+4) {
						margin-right: 0;
					}
					span {
						position: absolute;
						z-index: 0;
					}
					img {
						width: 100%;	
					}
				}
			}
		}
	}
	.column-sm{
		flex:1;
	}
	.column-bg{
		flex:2;
	}
}

@media screen and (max-width:1280px){
	.bike-show-content-wrapper {
		.bike-show-content-column {
	    	flex: 1;
		}
		.column-bg{
			flex:1;
		}
	}
}

@media screen and (max-width:768px){
	.bike-show-content-wrapper {
		display: block;
	}
}

@media screen and (max-width:580px){
	#bike-filter{
		.bike-filter{
			float:none;
			width:80%;
			margin:0 10%;
		}
	}
}
