.dashboard_content {
	flex: initial;
	margin-right:320px;

	#edit-profile{
		float:left;
	}

	.dashboard_content_item {
		padding: 25px;
		background-color: $color-light-gray-50;
		margin-bottom: 25px;
		width:100%;

		.input_bottom_border {
			background-color: transparent;
		}
	}
	
	.header-image {
	    min-height: 250px;
	    max-height: 270px;
	    background-size: cover!important;
	    background-repeat: no-repeat!important;
	    background-position: center!important;
	    margin-bottom: 20px;
	    padding:40px;

	    h1{
	    	text-transform: capitalize;
	    	color:#fff;
	    	font-size:42px;
	    	margin-bottom:20px;
	    }

	    p{
	    	color:#fff;
	    	margin:12px 0;
	    	line-height: 1.3;
	    	font-size:14px;
	    }
	}
	.dashboard_stats{
		
		.dashboard_stats_item{
			width: 100%;
			margin: 15px;
			float: left;
			border: 1px solid $color-dark-gray-25;
			background-color: $color-white-100;
			border-radius: 2px;
			padding: 25px 15px;
		
			i.fa
			{	
				display: block;
				color: $color-orange-100;
				font-size: 35pt;
				float: left;
				padding-right: 20px;
			}

			p
			{
				color: $color-dark-gray-50;
				font-size: 9pt;
				font-weight: bold;
			}
			p.dashboard_stats_counter
			{
				color: $color-dark-gray-75;
				font-size: 25pt;
			}
		}

	}
}
.dashboard_title_area {
	display: block;
	background-color: $color-dark-gray-100;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-transform:uppercase;
	letter-spacing:2px;
}

.dashboard_emptystate_message {
	color: $color-darker-gray-100;
	text-align: center;
	display: block;
}

@media screen and (max-width:1100px){
	.dashboard_content{
		margin-right:0;
	}
}

@media screen and (max-width:960px){
	.dashboard_content {
		margin-left: 0;
		display:block;
	}
}