.messages_content {
	flex: initial;
	margin-right:320px;

	#edit-profile{
		float:left;
	}
	
	.header-image {
	    min-height: 250px;
	    max-height: 270px;
	    background-size: cover!important;
	    background-repeat: no-repeat!important;
	    background-position: center!important;
	    margin-bottom: 20px;
	    padding:40px;

	    h1{
	    	text-transform: capitalize;
	    	color:#fff;
	    	font-size:42px;
	    	margin-bottom:20px;
	    }

	    p{
	    	color:#fff;
	    	margin:12px 0;
	    	line-height: 1.3;
	    	font-size:14px;
	    }
	}
	.list-group
	{
		a.list-group-item
		{
			width: 100%;
			display: block;
		}

		img.img-circle
		{
			width: 65px;
			height: 65px;
			float: left;
			margin-right: 15px;
			object-fit:cover;
		}
		p.list-group-item-text.name
		{
			font-weight: 600;
			color: $color-dark-gray-75;
			padding-top: 10px;
			padding-bottom: 5px;
			font-size: 12pt;
		}
		p.list-group-item-text.content
		{
			font-weight: 400;
			color: $color-dark-gray-50;
			padding-bottom: 10px;
			font-size: 12pt;
		}
		p.right
		{
			float: right;
			font-size: 9pt;
			margin-top: 15px;
		}
	}
}

@media screen and (max-width:1100px){
	.messages_content{
		margin-right:0;
	}
}

@media screen and (max-width:960px){
	.messages_content {
		margin-left: 0;
		display:block;
	}
}