#public-profile{
	.profile-show-header{
		height:70px;
		background:$color-gray-50;
		border-bottom:1px solid $color-gray-100;
		padding:0 20px;
	}

	.profile-pic{
		width:70px;
		height:70px;
		display:inline-block;
		float:left;

		img{
			width:100%;
			object-fit: cover;
		}
	}
	.profile-name{
		display:inline-block;
		float:left;
		padding:20px;

		h1{
			text-transform: uppercase;
			font-size:16px;
			letter-spacing: 1.5px;
		}

		h2{
			font-size:12px;
			color:$color-darker-gray-75;
			font-weight:normal;
		}
	}
	.message-user{
		padding:20px 0;
	}
}

#user-profile-bikes{
	padding:40px 20px;

	h2{
		text-transform: uppercase;
		letter-spacing: 1.4px;
		color:$color-darker-gray-100;
	}
}

.profile_side_menu{
	padding:0 20px!important;
}

.profile_content {
	flex: 3;
	margin-left: 50px;
	margin-top: 25px;
}

.user-page{
	display:block;
	margin-left:320px;
	min-height:80vh;
}


@media screen and (max-width:960px){
	.user-page{
		margin-left:270px;
	}
}

@media screen and (max-width:768px){
	.user-page{
		margin-left:100px;
	}
}