#dashboard_verification_settings {
	.dashboard_content_item {
			display: flex;
			.dashboard_verification_item {
			width: 100%;
			margin: 15px;
			display: flex;
			border: 1px solid $color-dark-gray-25;
			background-color: $color-white-100;
			border-radius: 2px;
			padding: 25px 15px;
			align-items: center;
			i.fa
			{	
				color: $color-dark-gray-75;
				padding-right: 20px;
			}
			
			.dashboard_verification_item_status_wrapper {
				flex-grow: 1;
				text-align: center;
				.verification_check {
					font-size: 1.6em;
					color: #98D490;
					margin: 10px 0px;
					i.fa {
						color: #98D490;
						padding-right: 0px;
					}
				}
			}
		}
	}
}

@media screen and (max-width:768px){
	#dashboard_verification_settings {
		.dashboard_content_item {
				display: block;
				.dashboard_verification_item {
				padding: 5px 5px;

				i.fa
				{	
					color: $color-dark-gray-75;
					padding-right: 20px;
				}
			}
		}
	}
}