.dashboard_reminder{
	display: none;
	.dashboard_title_area{
		background-color: $color-orange-100;	
	}
	.dashboard_reminder_item {
		text-align: center;
		width: 90%;
		margin: auto;
		h1 {
			font-size: 1.6em;
			margin: 0px;
			padding: 0px;
			color: $color-darker-gray-100;
		}
	}
}