#dashboard-menu{
	position:absolute;
	top:0;
	left:0;
	padding-top:100px;
	width:300px;
	height:100%;
	background:$main-gray-dark;
	transition:.3s ease-in-out;
	z-index:9;

	hr{
		border-top: 2px solid #353535;
	}

	#user-info{
		width:100%;
		padding:20px 25px 0 25px;

		img{
			width:80px;
			object-fit: cover;
			height:80px;
			border:4px solid #353535;
			float:left;
			display:block;
		}

		h2{
			float:left;
			width:auto;
			padding:15px;
			text-transform: capitalize;
			color:$color-gray-75;
		}

		h3{
			display:block;
			width:150px;
			float:left;
			padding:0 15px;
			font-size:12px;

			a{
				color:$primary;
				font-weight:400;
			}
		}
	}

	#profilepicchanger{
		.input-not-displayed{
			display:none;
		}

		.btn{
			margin:10px 0;
			clear:both;
		}
	}

	.dashboard-nav{
		li{
			width:100%;
			display:block;
			clear:both;
			transition:.3s ease-in-out;

			&:hover{
				a{
					text-decoration:none;
					color:$primary;
				}

				.icon{
					color:$color-gray-75;
				}
			}
		}

		.notification-tab{
			position:relative;
		}

		a{
			color:#fff;
			display:block;
			float:none;
			width:100%;
			font-weight:bold;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-size:14px;
			transition: .3s ease-in-out;

			&:hover{
				text-decoration:none;
			}

			.notification-counter{
				position:absolute;
				left:45px;
				top:30px;
			}
		}

		.active{
			a{
				color:$primary;
			}
			.icon{
				color:$color-gray-75;
			}
		}

		.icon{
			display:block;
			float:left;
			color:#353535;
			font-size:30px;
			padding:23px 25px;
			width:25%;
			transition: .3s ease-in-out;
		}

		.menu-link{
			display:block;
			float:left;
			width:75%;
			padding:30px 20px;
		}
	}

	.dashboard-bikes{
		li{
			background:$primary;
			color:#fff;

			&:hover{
				a{
					color:$main-gray-dark;
				}

				.icon{
					color:$main-gray-dark;
				}
			}
		}

		a{
			color:#fff;
		}
	}
}

@media screen and (max-width:960px){
	#dashboard-menu{
		width:250px;

		#user-info{

			h3{
				width:120px;
			}
		}
	}
}

@media screen and (max-width:768px){
	#dashboard-menu{
		width:80px;
		padding-top:112px;

		#user-info{
			width:100%;
			padding:0;

			img{
				width:80px;
				object-fit: cover;
				height:80px;
				border:4px solid #353535;
				float:left;
				display:block;
			}

			h2{
				display:none;
			}

			h3{
				display:none;
			}
		}

		#profilepicchanger{
			display:none;
		}

		.dashboard-nav{

			.active{

				.icon{
					color:$primary;
				}
			}

			.icon{
				float:none;
				width:100%;
			}

			.menu-link{
				display:none;
			}
		}
	}
}