.dashboard_notifications{
	.dashboard_notification_item {
		text-align: center;
		padding: 30px 20px;
		width: 90%;
		margin: auto;
		border-bottom: 1px solid $color-gray-100;
		&:last-child {
			border-bottom: 0px;
		}
		.hide_notification_button {
			color: $color-darker-gray-100;
			float: right;
		}
		h1 {
			font-size: 1.6em;
			margin: 0px;
			padding: 0px;
			color: $color-darker-gray-100;
		}
	}
}