.profile_side_menu {
	margin: 0px;
	margin-top: 25px;
	flex: 1;
	list-style-type: none;
	text-align: center;
	padding: 0px;
	li {
		background-color: $color-light-gray-50;
		border: 1px solid $color-gray-100;
		margin-bottom: 25px;
		.dashboard_title_area {
			border: 0px;
			border-bottom: 1px solid $color-gray-100;
		}
		.content {
			padding: 10px 0px;
			color: $color-darker-gray-100;
		}
	}
	.profile_side_menu_user_details {
		border: 0px;
		.title_area {
			border: 0px;
		}
		span.user_picture {
			width: 100%;
			height: 250px;
			background-position: center center !important;
			background-size: cover;
			background-repeat: no-repeat;
			display: block;
		}
	}
	.profile_side_menu_verification {
		.verification_level {
			padding: 5px 0px;
			color: $color-orange-75;
		}
		.verification_types {
			margin-top: 10px;
			section {
				margin-bottom: 5px;	
			}
			i.fa {
				color: #98D490;	
			}
		}
	}
}