h1.reservation_header {
	color: $color-orange-100;
	font-size: 1.8em;
	display: block;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
}
.reservation_preview_wrapper {
	&.reservation_progress {
		border-left: 8px solid $color-orange-100;
	}
	&.reservation_completed {
		border-left: 8px solid $color-green-100;
	}
	&.reservation_denied {
		border-left: 8px solid $color-red-100;
	}
	padding: 5px;
	margin-bottom: 10px;
	background-color: $color-light-gray-50;
	align-items: center;
	justify-content: space-between;
	
	.reservation_bike,
	.reservation_status,
	.reservation_pickup,
	.reservation_dropoff,
	.reservation_price,
	.reservation_actions{
		flex: 1;
		text-align:center;
	}
}
.reservation_headers {
	margin-bottom: 10px;
	align-items: center;
	justify-content: space-between;
	
	.reservation_bike,
	.reservation_status,
	.reservation_pickup,
	.reservation_dropoff,
	.reservation_price,
	.reservation_actions {
		flex: 1;
		text-align: center;
		color: $color-orange-100;
		font-weight: bold;
	}
}