
.authenticate{
	display:table;
	width:100%;
	table-layout:fixed;

	.split{
		display:table-cell;
		vertical-align: middle;
		padding:40px;
		-webkit-font-smoothing:antialiased;

		img{
			width:130px;
		}
	}

	.left{
		background:url('../images/brand.jpg')no-repeat;
		background-size:cover;
		width:60%;
		text-align:center;
		height: 600px;
	}

	.right{
		h1{
			font-size:42px;
			margin-bottom:35px;
			color:$primary;
		}

		p{
			color:$text;
			font-size:19px;
			line-height:26px;
			font-weight:300;
			margin:20px 0;
		}
	}

	.form{
		input[type="text"],
		input[type="email"],
		input[type="password"]{
			height:45px;
			line-height: 45px;
			border-radius:0;
			margin:10px 0;
			transition: .3s ease-in-out;
			font-weight:normal;
			font-size:19px;
			border:1px solid $color-light-gray-100;
			padding:2.5%;
			width:100%;

			&:focus{
				border-color:$primary;
			    outline: 0;
			    -webkit-box-shadow:none;
			   	box-shadow:none;		
			}
		}

		input[type="submit"]{
			height:45px;
			border-radius:0;
			margin:10px 0;			
			padding:0 35px!important;
			text-transform: none!important;
			display:block;
		}

		a{
			color:$primary;
			font-weight:700;
			transition: .3s ease-in-out;

			&:hover{
				color:$main-gray-dark;
				text-decoration: none;
			}
		}
	}
	
	&.resetpassword{
		.form{
			input[type="email"],
			input[type="password"]{
				width:100%;
			}
		}	
	}
}

.password-reset{
	text-align:right;
	margin-bottom:20px;
}

@media screen and (max-width:765px){
	.authenticate{
		display:block;
		table-layout:none;

		.split{
			display:block;
			vertical-align: none;
		}

		.left{
			background:url('../images/brand.jpg')no-repeat;
			background-size:cover;
			width:100%;
			height: auto;
		}

		.form{
			input[type="text"],
			input[type="email"],
			input[type="password"]{
				width:100%;
			}
		}
	}
}








