.conversation-wrapper {

	.header-image {
	    min-height: 250px;
	    max-height: 270px;
	    background-size: cover!important;
	    background-repeat: no-repeat!important;
	    background-position: center!important;
	    margin-bottom: 20px;
	    padding:40px;

	    h1.title-header{
	    	text-transform: capitalize;
	    	color:#fff;
	    	font-size:42px;
	    	margin-bottom:20px;
	    	text-align: left;
	    }

	    p{
	    	color:#fff;
	    	margin:12px 0;
	    	line-height: 1.3;
	    	font-size:14px;
	    }
	}
	.breadcrumb
	{
		background-color: transparent;
	}

	.conversation-messages-wrapper {
		width: 80%;
		margin: 15px auto;


		.list-group
		{
			margin-bottom: 0px;
			padding-bottom: 0px;
		}

		.conversation-message {
			display: flex;
			justify-content: flex-start;
			align-items: baseline;

			
			.list-group-item
			{
				margin-bottom: 5px;
				width: 100%;
				max-width: 350px;

				img{
					width: 45px;
					height: 45px;
					object-fit:cover;
				}

				.conversation-message-timestamp {
					order: 1;
					display: block;
					clear: both;
					margin-left: 0px;
					font-size: 8pt;
					color: $color-dark-gray-50;
				}

				.conversation-message-content {
					display: block;
					margin-left: 65px;
					order: 0;
					padding-top: 10px;
					color: $color-dark-gray-100;
					font-size: 11pt;
					line-height: 1.4;
					margin-bottom: 10px;
				}

			}
			&.self {
				justify-content: flex-end;

				.list-group-item
				{
					border: 2px solid $color-orange-100;
				}

				.conversation-message-content {
					order:2;
					margin-left: 0px;
					padding-top: 0px;
				}
				.conversation-message-timestamp {
					display: block;
					margin-left: 0px;
				}

			}
		}
		.empty-state
		{
			margin-bottom: 25px;
			display: block;
		}

	}
	.conversation-add-message-form {
		width: 100%;
		max-width: 500px;
		margin: auto;
		text-align: center;
			
		img
		{
			width: 45px;
			height: 45px;
			float: left;
		}
		textarea
		{
			color: $color-dark-gray-100;
		}

		.btn-default
		{
			width: 100%;
			padding: 25px 0px;
			margin-top: 15px;
		}

		label {
			display: block;
			margin: 10px 0px;
		}
	}
}
