[class^="btn"],
.btn {
  background-color: transparent;
  transition-property: background-color, color, border-color;
  transition-duration: 0.5s;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 1em !important;
  text-align: center !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px;
	text-decoration: none;

  &:hover {
    color: $color-darker-gray-100;
  }

  &.btn-full {
    width: 100%;
  }
	
	&.btn-small {
		font-size: 0.8rem !important;	
	}
}

.btn-default{
  border-color: $primary;
  color: $primary!important;
  display: inline-block;
  margin:10px;
  &:hover {
      background-color: $color-orange-100;
      color: $color-white-100 !important;
      border-color:$primary;
  }
}
.btn-default-inverse{
	background-color: $color-orange-100;
  color: $color-white-100 !important;
  display: inline-block;
  &:hover {
  	border-color: $color-orange-100;
  	color: $color-orange-100 !important;
		background-color: #fff;
  }
}
.btn-social-action-small {
	padding: 5px !important;
	font-size: 1em;
	font-weight: 100;
	border: 0px;
	margin: 0px;
  color: $color-darker-gray-75 !important;
  display: inline-block;
  &:hover {
  	color: $color-orange-100 !important;
  }
}
.btn-secondary {
	padding: 5px !important;
	font-size: 1em;
	font-weight: 100;
	border: 0px;
	margin: 0px;
  color: $color-darker-gray-100 !important;
	border: 1px solid $color-darker-gray-100;
  display: inline-block;
  &:hover {
  	color: $color-white-100 !important;
		background-color: $color-darker-gray-100;
  }
}
.btn-remove {
	padding: 5px !important;
	font-size: 1em;
	font-weight: 100;
	border: 0px;
	margin: 0px;
  color: $color-red-100 !important;
	border-color: $color-red-100;
  display: inline-block;
  &:hover {
  	color: $color-white-100 !important;
		background-color: $color-red-100;
  }
}
.btn-remove-inverse {
	padding: 5px !important;
	font-size: 1em;
	font-weight: 100;
	border: 0px;
	margin: 0px;
	color: $color-white-100 !important;
	background-color: $color-red-100;
  display: inline-block;
  &:hover {
  	color: $color-red-100 !important;
		border-color: $color-red-100;
		background-color: transparent;
  }
}