.page-footer{
	padding:$footer-padding;
	width: 100%;
	background-color:$main-gray-dark;
	color: $text;
	font-size: 12px;
	text-align: center;
	position:absolute;
	bottom:0;
	min-height:$footer-min-height;

	p{
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight:bold;
		padding:20px 0;
	}
	
	i{
		color: $color-orange-100;
	}
}