.headerimage {
	width: 100%;
	min-height: 170px;
	background-image: url('/images/brand.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $color-light-gray-100;
	display: block;

	hgroup{
		padding:40px 20px;
	}

	h2 {
		color: $color-white-100;
		font-size: 42px;
		text-align: left;
		font-weight: bold;
		margin-bottom:10px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	h3{
		font-size:18px;
		color:#fff;
		font-weight:400;
		margin-left:5px;

		i{
			margin-right:5px;
		}
	}
}

#bike-overview{
	.headerimage{
		background-image: url('/images/cycling_city.jpg');

		.btn{
			margin:15px;
		}

		.sparkle{
			transition: .4s ease-in-out;

			&:hover{
				text-decoration:none;
				color:#fff;
			}
		}
	}
}