#main-nav-mobile{
	display:none;
	padding:20px;

	ul{
		li{
			margin:20px 0;
		}

		a{
			color:$main-gray-dark;
			font-size:19px;
			font-weight:600;
			padding:15px 0;

			&:hover,&:active{
				color:$primary;
			}
		}
	}
}

#hamburger{
	width:auto;
	height:45px;
	margin:11px 20px;
	text-align:center;
	display:none;

	a{
		display: block;
		height:100%;
		color:#252525;
		padding:10px 0;
		font-size:25px;
	}
}

#mainnav{
	width:100%;
	position:relative;
	z-index:11;
	border:0 none;
	margin-bottom:0;
	background:#fff;

	.navbar-nav{
		margin:0;
	}

	.wrapper{
	}

	.top-menu{
		background:$color-light-gray-100;
		padding:0 20px;
	}

	.logo-link{
		display:inline-block;
		padding:15px 20px;
		float:left;

		img{
			width:65px;
		}
	}

	.brand{
		display:inline-block;
		padding:23px 0;
		float:left;
		font-weight:700;
		position:relative;

		a{
			color:$main-gray-dark;
			transition: .4s ease-in-out;

			&:hover{
				color:$primary;
				text-decoration: none;
			}
		}

		&:after{
			display:inline-block;
			content:'Beta';
			background:$primary;
			color:#fff;
			margin-left:10px;
		    padding: 5px 10px;
		    position: absolute;
		    top: 20px;
		    border-radius: 9px;
		    font-size: 12px;
		    font-weight: 300;
		    font-style: italic;
		    z-index:0;
    	}
	}

	.main-menu,
	.secundary-menu{
		a{
			color:$main-gray-dark;
			font-size:14px;
			font-weight:700;
			transition: .2s ease-in-out;
			-webkit-font-smoothing: antialiased;

			&:hover{
				color:$primary;
				text-decoration: none;
			}			
		}
		li{
			display:inline-block;		
		}
		.nav-user-picture {
			position: relative;
			width: 34px;
			height: 34px;
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			border: 1px solid $main-gray-dark;
			margin: -12px;
			margin-left: 5px;
			transition: .4s ease-in-out;
		}
	}

	.main-menu{
		display:block;
		text-align: center;

		a{
			display:block;
			padding:24px 20px!important;
			letter-spacing: 0.5px;			
		}

		.btn-sparkle{
			background:$primary;
			color:#fff;
			text-transform: none!important;
			padding-left:45px!important;
			padding-right:45px!important;
			border:0 none!important;

			&:hover{
				color:$main-gray-dark;
			}
		}
	}

	.secundary-menu {
		a{
			display:block;
			margin: 13px 0;
   			padding: 0 10px;
			
			&:hover{
				color:$primary;
			}
		}
		li:first-child{
			a{
				border-right:2px solid $main-gray-dark;
				padding-right:14px;
			}
		}

		.dropdown-toggle{
			width:100%;
			display:inline-block;
			background:none;
		}

		.dropdown-menu{
			right:0;
			left:initial;
			padding:0;
			border-top:2px solid $color-light-gray-100;

			li{
				display:inline-block;
				width:100%;

				a{
					display:block;
					width:100%;
					padding:20px;
					margin:0;
					font-weight:bold;
				}
				
				&:hover{
					display:inline-block;
					width:100%;
				}
			}

			li:first-child{
				a{
					border-right:none;
					padding-right:auto;
				}
			}
		}

		.user-menu:first-child{
			a{
				border-right:none;
				padding-right:10px;
			}				
		}
	}
}

.site-slogan{
	font-size:12px;
	font-weight:600;
	padding:16px 0;
}

@media screen and (max-width:830px){
	#mainnav{
		.main-menu{
			li:first-child{
				display:none;
			}			
		}
	}
}

@media screen and (max-width:790px){
	#mainnav{
		.main-menu{
			display:none;
		}
	}
	#hamburger{
		display:block;
	}
}

@media screen and (max-width:768px){
	.site-slogan{
		display:none;
	}

	#mainnav{
		.secundary-menu{
			float:none!important;
			display:block;
			clear:both;
			text-align:right;

			li{
				width:100%;

				&:first-child{
					a{
						border:none;
					}
				}
			}
		}
	}
}



